extends templates/template

append config
  -pageTitle='Albunes'
  -linkcss="./css/lightbox.css"

block main
    div(class="main-album main-container")
        h1(class="main-album__title") Albunes Paisajes
        .gallery-container
            - var n= 1
            while n <= 16
                .gallery-item
                    img(src="./img/albun/img-"+n+"-min.jpg" alt="Descripcion"+n)
                 -n++


    script(src="./js/lightbox.js")
