extends templates/template

block main
    div(class="main-banner")
        img(src="" alt="" class="main-banner__img")
        div(class="main-banner__data")
            h2(class="main-banner__title") Go Paisajes
            p(class="main-banner__subtitle") Atravez del cristal del mundo
            p(class="main-banner__description") Paisajismo es la actividad destinada a modificar lascaracterísticas visibles, físicas y anímicas de un espacio
            a(href="#" class="main-banner__button button--light") Join now
            a(href="#" class="main-banner__button button--cta") Donate now
    h1 Bienvenidos ahora comenzamos